<div id="head-menu" class="banner-notfade">
	<div id="menu-container" style="position:relative">
		<div class="right">
			<a class="link" id="display-links"><i class="fa fa-navicon"></i></a>
			<div id="header-nav">
				<a class="link line-link" href="{{@blog.url}}/guestbook" title="Guestbook"><i class="fa fa-envelope"></i></a>
				<a class="link line-link" href="{{@blog.url}}/friends" title="Friends"><i class="fa fa-users"></i></a>
				<a class="link line-link" href="{{@blog.url}}/project" title="Project"><i class="fa fa-book"></i></a>
				<a class="link line-link" href="{{@blog.url}}/about" title="About"><i class="fa fa-credit-card"></i></a>
			</div>
		</div>
		<div class="left">
			<a class="title" href="{{@blog.url}}"><i class="fa fa-home"></i> {{@blog.title}}</a>
		</div>
		<div class="to-top" style="display:inline-block;z-index:0;position:absolute;left:0;width:100%;height:100%">
			<p style="text-align:center">
			</p>
		</div>
	</div>
</div>
