<!DOCTYPE html>
<html>
<!--
                                                                                                  
                                                                                                  
                                                                                    7MBMBL        
                                                                                    BBMBM:        
                                                                                   OBMBM,         
                                                                                   BMBM.          
                                                                                  OMBM,           
                                                   :uBBBR               s0H;     .MBM.            
                                                ;DBMBMBMB,             MBMBM     RBM,             
                                             :MBMBMBMBBB:             MBMBB     .BM:              
                                           7BMBH sBMBMB,            :MBBBM      BM:               
                                         UMBM,   BBBMB:            2MBBBM       r.                
                                       vBMO     BMBMBi            BBBBBM                  rEBMBR, 
                                       uS      BMBMBr           :BMBMBM                .RBMBMBMBM 
                                              BMBMB7           SBMBMBB.               FMB    :BMB 
                                             BMBMBs          :MBMBMBB.               BMB       ,  
                                            BMBMBF          EMBMBMBM,               FMBM          
                                           MBBMBX         iBMBMBBBM:                MBBBS         
                                          OMBMB0        .MBM:uBBBB;                 OMBMB:        
                                         DMBMBM        RBB7 ;BMBM;                   BMBMB        
                                        ZMBMBB       DBM1  ;BMBMr      r.            cBMBMS       
                                       1MBMBM      WMBS   ;BBBMc     sBB:             RBMBD       
                                      JMBMBM    :MBBK    ;BMBMc    JBMB.               BBMc       
                                     rBBMBB   iBMBS     ,BMBMS  .RMBM:                 BMB        
                                    ;MBBBMBZBMBMJ      .BBBMBZUBBMR.        .MBM:    .BMZ         
                                   :MBMBMBMBMB;       .BMBBBMBMB7           RBBBMBFPMBB,          
                                  .MBMBMBMBX.         BMBBBBM7               RBMBBBM0.            
                                  MBMB:;:.             i;:                      .                 
                                 BBMO                                                             
                                MBMO                                                              
                               MBBB                                                               
                              MBBB                                                                
                             RBMB;                                                                
                            WBMBR                                                                 
                           EBBBM.                                                                 
                          UBMBMB                                                                  
                         2BMBBB3                                                                  
                        uBMBMBZ                                                                   
                       LBBBMB;                                                                    
                       :GSr.                                                                      
                                                                                                                                                
                                                                                                                                                      
                                                                             SH.              ,:            i                                         
                             .B3        .OBM       v:.     .RR2      SxUE; :BK   7BcMM:      MBMB7i.       KBO.        :,::                           
                             BMBM :Bi   1BMBu     :BMBMX   GMBM.   :KMMBMBSB:    PMBMBJ      RMBB:,B;     MBMBM   ,cuBMBu3i.                          
                            LUBMBRBM.  .BMBM,    OBMBBB7   ,BMBr   ,. FMBMB    cJ JMBK      iRMRBMBM1:.   xBBM7  LEMBMBcE:                            
                           :WcMBM7     :MBBBL  JMOMBMB:    OMMBB    1;:BMB     R rBBMB7 ;BBBxZMBM  UMBRr xMBMBx  L EMBOUGBP.                          
                            1JDMS       :MBMB  UX;LMBM     BBMBMB   .USGBM     MBMBMBBBW;.:B  BMZ      :B3 MBM1   iG;ZBB                              
                              ZBM        SMBU      7BB      MBMBM     ;RMR    ,H:  WMB.    .7GBBO       .;:BMR       :MB                              
                            rMBMBM,     sMBMB;     2BM7    KBMBW     RBMBMD       XMBME     UMBMBO        SMBMBr    :DBMP                             
                            rBMKMB:     MBMBM;   GMBMBMR.  MMBBL     :MODBJ      :MBBBM.    LBO7MB       :MBRBBZ   .MBMBMu                            
                             LB:B:      1BvM7  ,SMBMRMB     BM,       MMBM         MBMr      MB GM        KM.MW     FMBM:                             
                              WBZ       K3 B   .  PBMBB     MO         BM1          WB       .M  B:       7O B     .0PM:                              
                             .B:B      :B FU       7BMM     .MP        MJ           BF       .B  :B:      B:.M       :R                               
                             Br H1     BS Mr         ,       BBi       Bx          BM,       .M,  7B     iM iB       Or                               
                            :M  :W     M  K;                 O:M:       B         BsX         OL   B.    Oi Kr      :O                                
                            Mc   B.   7B  ME                 B JM       OO       2B M.        JB   B:   ;B  M;      ZU                                
                           .G    F7  ,B.  ;Mu              .DD rr       ,M,      ,  KM:       :M   :    Oi  cM.     K7                                
                         ..    .     ;   .  .              .:  .         :        .  ;.        :    .        ..       ..                              
                        ... .       ,  .,           .        . :.       :         ::.,         .:   :.     .. . .       . ...                         
                      .:.          :  :.         .:::.      ::.        .,          .,;.         :,   ;       .....         ..,..                      
                . ..,..           ,..:       ...::::.      ,:.         :             ,;          :. ,:          .....         .,:,,..                 
                ...             .::::        .,,,,,,      ,:           :.             ::         .: .:           .......           ...                
            .....              .:,,.          ..,.       .:,          .,:            ,:::        .:,.,:             ....            ..... .           
                             ..,..           ..,.       .,.,..        ,...           ,,,,:        ...,..             .....               .            
                            ...          ......         .....        .,....       . . ..,.      . :  ...      .         . .                           
                           . .             .....       ......        .....         ..,......     . . ..... ...                                        
                                            . .         . .           ...             .....           .....                                           
                                                         .           . ...             . .                                                            
                                                                    .   .                                                                             
                                                                                                                                                      
-->
<!--
{{@blog.title}}
{{@blog.description}}
{{@blog.url}}
https://moyu233-1251600285.file.myqcloud.com/favicon.ico

-->
<head>
<meta charset="UTF-8" />
<meta name="theme-color" content="#1E90FF" />
<link rel="shortcut icon" href="https://moyu233-1251600285.file.myqcloud.com/favicon.ico" />
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
<meta name="renderer" content="webkit" />
<meta name="title" content="{{@blog.title}}" />
<meta name="description" content="{{@blog.description}}" />
<link rel="stylesheet" type="text/css" href="https://blog.tse.moe/assets/css/style.css?v=a279103c00" />

<link rel="stylesheet" type="text/css" href="/css/font-awesome.css" />
<title>{{@blog.title}}</title>
</head>
<body>
<div id="loading" style="width:100%;height:100%;position:fixed;background-color:#fff;z-index:807;top:0;opacity:.9">
	<div id="contain">
		<div class="wrap" id="wrap1">
			<div class="part" id="part1">
			</div>
		</div>
		<div class="wrap" id="wrap2">
			<div class="part" id="part2">
			</div>
		</div>
		<div class="wrap" id="wrap3">
			<div class="part" id="part3">
			</div>
		</div>
		<div class="wrap" id="wrap4">
			<div class="part" id="part4">
			</div>
		</div>
	</div>
	<div style="text-align:center;clear:both">
	</div>
</div>
<div id="head-menu" class="banner-notfade">
	<div id="menu-container" style="position:relative">
		<div class="right">
			<a class="link" id="display-links"><i class="fa fa-navicon"></i></a>
			<div id="header-nav">
				<a class="link line-link" href="{{@blog.url}}/guestbook" title="Guestbook"><i class="fa fa-envelope"></i></a>
				<a class="link line-link" href="{{@blog.url}}/friends" title="Friends"><i class="fa fa-users"></i></a>
				<a class="link line-link" href="{{@blog.url}}/project" title="Project"><i class="fa fa-book"></i></a>
				<a class="link line-link" href="{{@blog.url}}/about" title="About"><i class="fa fa-credit-card"></i></a>
			</div>
		</div>
		<div class="left">
			<a class="title" href="{{@blog.url}}"><i class="fa fa-home"></i> {{@blog.title}}</a>
		</div>
		<div class="to-top" style="display:inline-block;z-index:0;position:absolute;left:0;width:100%;height:100%">
			<p style="text-align:center">
			</p>
		</div>
	</div>
</div>
<div class="pjax-container">
	<div class="banner" style="background-image:url(https://o55ydpgd4.qnssl.com/assets/images/banner.jpg);height:700px">
		<div class="banner-text">
			<div class="banner-container">
				<div class="banner-border-top">
				</div>
				<h1 id="big-title">{{@blog.title}}</h1>
				<h3 id="big-description">{{@blog.description}}</h3>
				<div class="banner-border-bottom">
				</div>
			</div>
		</div>
		<a href="#content" class="go-down scroll"><i class="fa fa-angle-double-down"></i></a>
	</div>
	<div id="divider">
	</div>
	<div class="row" id="content">
		<div class="container">
			<div class="col s12 m12" style="margin:0 auto">
				<div id="art-container">
					{{#foreach posts}}
					<div class="article-body">
						<div class="article-tag">
							<!--div class="article-title"-->
								<a href="{{url}}">
								<h2>{{title}}</h2>
								</a>
							<!--/div-->
							<p>
									{{date format="DD MMMM YYYY"}}
							</p>
						</div>
						<div class="article-background" style="background-image:url()">
						</div>
						<div class="article-content">
							{{excerpt words="26"}}
							<p>
								<a href="{{url}}">阅读全文...</a>
							</p>
						</div>
					</div>
					{{/foreach}}
					<p>{{pagination}}</p>
				</div>
			</div>
		</div>
	</div>
	<div class="footer">
		<div class="row">
			<div class="container">
				<div class="col s12 m5">
					<div class="copyright-left">
						<p style="font-size:14px">
							&copy; 2016-2017 {{@blog.title}} 版权所有
						</p>
						<p style="font-size:14px">
							<span>许可协议</span>:<i class="fa fa-creative-commons"></i><a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/" title="CC BY-NC-SA 4.0 International" target="_blank">"署名-非商用-相同方式共享 4.0"</a>
						</p>
						<div>
							<a href="https://github.com/moeyi" rel="nofollow"><i class="fa fa-github"></i></a>
							<a href="https://twitter.com/hujl1234" rel="nofollow"><i class="fa fa-twitter"></i></a>
							<a href="mailto:hujl634@gmail.com" rel="nofollow"><i class="fa fa-envelope"></i></a>
						</div>
					</div>
				</div>
				<div class="col s12 m7">
					<div class="copyright-right" style="text-align:right;font-size:14px">
						<p>
							Proudly Published with <a href="https://ghost.org/" rel="nofollow" target="_blank">Ghost</a>
						</p>
						<p>
							Theme SnowFallen &amp; designed by <a href="http://www.imim.pw" target="_blank">Kirainmoe</a> with ♥ &amp; <a href="https://github.com/moeyi/snowfallen">Rebuilt</a> by <a href="https://moeyi.xyz/">Moeyi</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="https://blog.tse.moe/assets/js/jquery-2.2.0.min.js?v=a279103c00"></script>
	<script src="https://blog.tse.moe/assets/js/highlight.min.js?v=a279103c00"></script>
	<script src="https://blog.tse.moe/assets/js/depend.js?v=a279103c00"></script>
	<script src="https://blog.tse.moe/assets/js/index.js?v=a279103c00"></script>

	<style>
body{height:200px}
	</style>
	<script>!function(e,a,t,n,c,o,s){e.GoogleAnalyticsObject=c,e[c]=e[c]||function(){(e[c].q=e[c].q||[]).push(arguments)},e[c].l=1*new Date,o=a.createElement(t),s=a.getElementsByTagName(t)[0],o.async=1,o.src=n,s.parentNode.insertBefore(o,s)}(window,document,"script","//www.google-analytics.com/analytics.js","ga"),ga("create","UA-75514851-1","auto"),ga("send","pageview");</script>
	<script type="text/javascript">hljs.initHighlightingOnLoad(),setTimeout("loadFinish()",1e3),$(".small-mode").removeClass("small-mode").addClass("fullscreen-mode"),$("[class=article-background]").each(function(s){s++,10==s&&(s=1),$(this).css("background-image","url(https://o55ydpgd4.qnssl.com/assets/images/".split("?")[0]+s+".jpg)")});</script>
  <script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?01c8581cbaed55047abd2bcbc2fd09b1";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>

</div>
</body>
</html>