<!DOCTYPE html>
{{> "banner"}}
<html>
<head>
{{> "head"}}
<title>{{@blog.title}}</title>
{{ghost_head}}
</head>
<body>
{{> "loading"}}
<div id="head-menu" class="banner-notfade">
	<div id="menu-container" style="position:relative">
		<div class="right">
			<a class="link" id="display-links"><i class="fa fa-navicon"></i></a>
			<div id="header-nav">
				<a class="link line-link" href="{{@blog.url}}/guestbook" title="Guestbook"><i class="fa fa-envelope"></i></a>
				<a class="link line-link" href="{{@blog.url}}/friends" title="Friends"><i class="fa fa-users"></i></a>
				<a class="link line-link" href="{{@blog.url}}/project" title="Project"><i class="fa fa-book"></i></a>
				<a class="link line-link" href="{{@blog.url}}/about" title="About"><i class="fa fa-credit-card"></i></a>
			</div>
		</div>
		<div class="left">
			<a class="title" href="{{@blog.url}}"><i class="fa fa-home"></i> {{@blog.title}}</a>
		</div>
		<div class="to-top" style="display:inline-block;z-index:0;position:absolute;left:0;width:100%;height:100%">
			<p style="text-align:center">
			</p>
		</div>
	</div>
</div>
<div class="pjax-container">
	<div class="banner" style="background-image:url(https://o55ydpgd4.qnssl.com/assets/images/banner.jpg);height:700px">
		<div class="banner-text">
			<div class="banner-container">
				<div class="banner-border-top">
				</div>
				<h1 id="big-title">{{@blog.title}}</h1>
				<h3 id="big-description">{{@blog.description}}</h3>
				<div class="banner-border-bottom">
				</div>
			</div>
		</div>
		<a href="#content" class="go-down scroll"><i class="fa fa-angle-double-down"></i></a>
	</div>
	<div id="divider">
	</div>
	<div class="row" id="content">
		<div class="container">
			<div class="col s12 m12" style="margin:0 auto">
				<div id="art-container">
					{{#foreach posts}}
					<div class="article-body">
						<div class="article-tag">
							<div class="article-title">
								<a href="{{url}}">
								<h2>{{title}}</h2>
								</a>
								<div class="link-border">
								</div>
							</div>
							<div class="left article-info">
           <p><i class="fa fa-tags"></i>{{tags}}</p>
           <p>{{date format="DD MMMM YYYY"}}</p>
          </div>
							</div>
						<div class="article-background" style="background-image:url()">
						</div>
						<div class="article-content">
							{{excerpt words="26"}}
							<p>
								<a href="{{url}}">阅读全文...</a>
							</p>
						</div>
					</div>
					{{/foreach}}
					<p>{{pagination}}</p>
				</div>
			</div>
		</div>
	</div>
	<div class="footer">
		<div class="row">
			<div class="container">
				<div class="col s12 m5">
					<div class="copyright-left">
						<p style="font-size:14px">
							&copy; 2016-2017 {{@blog.title}} 版权所有
						</p>
						<p style="font-size:14px">
							<span>许可协议</span>:<i class="fa fa-creative-commons"></i><a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/" title="CC BY-NC-SA 4.0 International" target="_blank">"署名-非商用-相同方式共享 4.0"</a>
						</p>
					</div>
				</div>
				<div class="col s12 m7">
					<div class="copyright-right" style="text-align:right;font-size:14px">
						<p>
							Proudly Published with <a href="https://ghost.org/" rel="nofollow" target="_blank">Ghost</a>
						</p>
						<p>
							Theme SnowFallen &amp; designed by <a href="http://www.imim.pw" target="_blank">Kirainmoe</a> with ♥ &amp; <a href="https://github.com/moeyi/snowfallen">Rebuilt</a> by <a href="https://moeyi.xyz/">Moeyi</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="https://moeyi.xyz/assets/js/jquery-2.2.0.min.js"></script>
	<script src="https://moeyi.xyz/assets/js/highlight.min.js"></script>
	<script src="https://moeyi.xyz/assets/js/depend.js"></script>
	<script src="https://moeyi.xyz/assets/js/index.js"></script>

	<style>
body{height:200px}
	</style>
	<script type="text/javascript">hljs.initHighlightingOnLoad(),setTimeout("loadFinish()",1e3),$(".small-mode").removeClass("small-mode").addClass("fullscreen-mode"),$("[class=article-background]").each(function(s){s++,10==s&&(s=1),$(this).css("background-image","url(https://o55ydpgd4.qnssl.com/assets/images/".split("?")[0]+s+".jpg)")});</script>
</div>
</body>
</html>